<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="ChatClientConfig" address="http://localhost:8083/service" binding="wsDualHttpBinding" contract="Business.IChatService"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="LastReceived" value=""/>
  </appSettings>
</configuration>